
<!-- Correos template -->
<script id="correos-old-template" type="text/x-handlebars-template">
    <div class="row correos-h">
        <div class="col-md-12">
            <h2 class="label-danger clearfix">
                <span>Correos Express Antigo:</span>
                <a href="\{{ trackerWebsite }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
            </h2>
        </div>
    </div>

    <div class="row break-strong">
        <div class="col-xs-6">
            <strong>Estado:</strong> \{{HelperCapitalize state }}
        </div>
        <div class="col-xs-6 text-right">
            <strong>Ultima atualização:</strong>
            <span data-toggle="tooltip" data-placement="top" title="\{{HelperDateWithHours lastUpdate }}">
                \{{HelperDateWithHours lastUpdate }} (\{{HelperFromNow lastUpdate }})
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered break-strong">
                <tr>
                    <td>
                        <strong>ID Adicional:</strong> \{{ id }}
                    </td>
                    <td>
                        <strong>Recebido:</strong> \{{HelperDate received }} \{{HelperFromNow received }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Empresa:</strong> \{{HelperCapitalizeWords sender.name }}
                    </td>
                    <td>
                        <strong>Destinatário:</strong> \{{HelperCapitalizeWords receiver.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Cidade:</strong> \{{HelperCapitalize sender.city }}
                    </td>
                    <td>
                        <strong>Cidade Destino:</strong> \{{HelperCapitalize receiver.city }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Pacotes:</strong> \{{ product.parcels }} (\{{ product.weight }}kg)
                    </td>
                    <td>
                        <strong>Morada Destino:</strong> \{{HelperCapitalizeWords receiver.address }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3><span class="label label-default">Estados:</span></h3>

            <div class="result-details">
                <dl class="des-block">

                    \{{#each states as |item|}}
                    <dd class="\{{HelperState item.info @first}}"><i></i>
                        <div class="track-news clearfix">
                                <span class="date" data-toggle="tooltip" data-placement="top" title="\{{HelperDateWithHours item.date }}">
                                   \{{HelperFromNow item.date }}
                                </span>
                            <p><strong>\{{HelperCapitalizeWords item.info }}</strong> <span class="area-break">\{{HelperCapitalizeWords item.department }}</span></p>
                        </div>
                    </dd>
                    \{{/each}}
                </dl>
            </div>

        </div>
    </div>
</script>
<!-- /Correos template -->