<!-- Correos ES template -->
<script id="correoses-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="label label-yellow">Informação Correos ES:</span></h2>

            \{{#if states}}
            <h3><span class="label label-default">Estados:</span></h3>

            <div class="result-details">
                <dl class="des-block">
                    \{{#each states as |item| }}
                    <dd class="\{{HelperState item.title @first}}"><i></i>
                        <div class="track-news clearfix">
                             <span class="date" data-toggle="tooltip" data-placement="top" title="\{{HelperDateWithHours item.date }}">
                                   \{{HelperFromNow item.date }}
                            </span>
                            <p title="\{{ item.info }}">\{{ item.title }}</p>
                        </div>
                    </dd>
                    \{{/each}}
                </dl>
            </div>
            \{{/if}}

        </div>
    </div>
</script>
<!-- /Correos ES template -->