
<!-- Expresso24 template -->
<script id="expresso24-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <h2 class="label-\{{ color }} clearfix">
                <span>\{{ provider }}:</span>
                <a href="\{{ trackerWebsite }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
            </h2>
        </div>
    </div>

    <div class="row break-strong">
        <div class="col-xs-6">
            <strong>Estado:</strong> \{{ status }}
        </div>
        <div class="col-xs-6 text-right">
            <strong>Data:</strong> \{{HelperDate date }} (\{{HelperFromNow date }})
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                <table class="table table-bordered break-strong">
                    <tr>
                        <td>
                            <strong>Origem:</strong> \{{HelperLowerCase origin }}
                        </td>
                        <td>
                            <strong>Destinatário:</strong> \{{HelperCapitalizeWords receiver_name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Pacotes:</strong> \{{ parcels }} (\{{ weight }}kg)
                        </td>
                        <td>
                            <strong>Morada Destino:</strong> \{{HelperCapitalizeWords address }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Guia Nº:</strong> \{{ guide }}
                        </td>
                        <td>
                            <strong>Reembolso:</strong> \{{ refund }}
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</script>
<!-- /Expresso24 template -->