<!-- Sky template -->
<script id="sky-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <h2 class="label-\{{ color }} clearfix">
                <span>\{{ provider }}:</span>
                <a href="\{{ trackerWebsite }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                </a>
            </h2>

            \{{#if messages}}
            <h3><span class="label label-default">Mensagens:</span></h3>

            <div class="result-details">
                <dl class="des-block">
                    \{{#each messages as |item| }}
                    <dd class="\{{HelperState item.status @first}}"><i></i>
                        <div class="track-news clearfix">
                             <span class="date" data-toggle="tooltip" data-placement="top"
                                   title="\{{HelperDateWithHours item.date }}">
                                   \{{HelperFromNow item.date }}
                            </span>
                            <p>\{{ item.status }}</p>
                        </div>
                    </dd>
                    \{{/each}}
                </dl>
            </div>
            \{{/if}}

            \{{#HelperTrackerSkyPQ this}}
            \{{#if status}}
            <h3><span class="label label-default">Estados:</span></h3>
            <div class="result-details">
                <dl class="des-block">

                    \{{#each status as |item|}}
                    <dd class="\{{HelperState item.status @first}}"><i></i>
                        <div class="track-news clearfix">
                                <span class="date" data-toggle="tooltip" data-placement="top"
                                      title="\{{HelperDateWithHours item.date }}">
                                   \{{HelperFromNow item.date }}
                                </span>
                            \{{#if item.area}}
                            <p>
                                <strong>\{{ item.status }}</strong> <span class="area-break">\{{HelperCapitalizeWords item.area }}</span>
                            </p>
                            \{{else}}
                            <p>\{{ item.status }}</p>
                            \{{/if}}
                        </div>
                    </dd>
                    \{{/each}}
                </dl>
            </div>
            \{{/if}}
            \{{/HelperTrackerSkyPQ}}
        </div>
    </div>
</script>
<!-- /Sky template -->