<div class="row" id="hide-info">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Segue as tuas encomendas até Portugal</h2>
            <p>Este website ajuda-te a saber por onde andam as tuas encomendas.</p>
            <strong>Métodos de envio suportados:</strong>
            <div class="row">
                <div class="col-md-4">
                    <strong>Gearbest</strong>
                    <ul class="mb0">
                        <li><strong>PQ</strong> Spain Priority Line (Spain Express)</li>
                        <li><strong>NL</strong> Netherlands Post surface mail</li>
                        <li><strong>LV</strong> Bpost International</li>
                        <li><strong>SYB</strong> Malasya Pos</li>
                        <li><strong>GE e SB</strong> Switzerland Post Unregistered</li>
                        <li><strong>Q..XX</strong> Sweden Registered</li>
                        <li><strong>R..HU</strong> Hungary Registered Mail</li>
                        <li><strong>ID númerico</strong> DHL</li>
                    </ul>

                    <strong>Geekbuying</strong>
                    <ul class="mb0">
                        <li><strong>YT..</strong> Yun Express</li>
                        <li><strong>R..AT</strong> Austrian Post</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <strong>AliExpress</strong>
                    <ul class="mb0">
                        <li><strong>R..SG</strong> Singapore Post</li>
                        <li><strong>R..MY</strong> Malaysia Post</li>
                        <li><strong>R..SE</strong> Sweden Post</li>
                        <li><strong>R..CN</strong> China Post Register Airmail</li>
                        <li><strong>R..NL</strong> Netherlands Post</li>
                        <li><strong>L..CN</strong> China EMS ePacket</li>
                        <li><strong>U..YP</strong> Special Line YW</li>
                        <li><strong>LP..</strong> AliExpress Standard Shipping</li>
                        <li><strong>BZ..CN</strong> China EMS ePacket</li>
                        <li><strong>CP..CN</strong> China Post</li>
                        <li><strong>AA..YN</strong> Yanwen</li>
                        <li><strong>ID númerico</strong> China Post Small Packet, Yanwen e DHL</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <strong>CTT Expresso</strong>
                    <ul class="mb0">
                        <li>ED123456789PT</li>
                        <li>LX123456789PT</li>
                        <li>RR123456789PT</li>
                    </ul>

                    <strong>Ebay</strong>
                    <ul class="mb0">
                        <li><strong>ID..CN</strong> Winit</li>
                        <li><strong>YF..</strong> Yanwen</li>
                        <li><strong>UPA..</strong> Pitney Bowes</li>
                        <li><strong>LA..</strong> Laos Post</li>
                        <li><strong>HK..AM</strong> SFC</li>
                        <li><strong>EY..</strong> Chukou1</li>
                        <li><strong>R..GB</strong> Royal Mail</li>
                        <li><strong>ID númerico</strong> PTT Turkey</li>
                    </ul>
                </div>
            </div>

            <a class="btn btn-default btn-xs close-btn" id="hide-button" role="button">Esconder</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <div class="panel panel-info">
            <div class="panel-heading clearfix">Encomendas a seguir
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#addTrack">Adicionar
                    </a>
                </div>
            </div>
            <ul class="list-group track-entries" id="track-entries">
                <li class="list-group-item" id="emptyList">
                    Nenhuma..
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-8" id="content">
        <div class="row" id="info">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Informações das encomendas
                    </div>
                    <div class="panel-body">
                        <p>Para veres a informação sobre as tuas encomendas adiciona primeiro os teus IDs, no painel Encomendas a seguir.</p>
                        <p>Se não tiveres nenhuma encomenda podes ver como funciona com este id: <strong>PQ4F6P0705248940181750G</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addTrack" tabindex="-1" role="dialog" aria-labelledby="addTrack">
    <div class="modal-dialog" role="document">
        <form id="controlForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Seguir nova encomenda</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="shipping_id">Tracking ID:</label>
                        <input type="text" class="form-control" required id="shipping_id"
                               placeholder="Insere o ID de tracking da encomenda.." maxlength="50" >
                        <span class="help-block" id="help_block">Esse tipo de ID ainda não é suportado <i class="fa fa-frown-o"></i>, fala connosco para adicionarmos!</span>
                    </div>
                    <div class="form-group">
                        <label for="postal_code">Descrição</label>
                        <input type="text" class="form-control" id="description" required
                               placeholder="Para facil identificação, ex: Telemóvel">
                    </div>
                    <p class="small">Obs: insire o id de tracking para verificar se é suportado.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" id="send" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Modal -->

<!-- Track list entry -->
<script id="track-list-template" type="text/x-handlebars-template">
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <h4>\{{description}}</h4>
                <p>\{{id}}</p>
            </div>
            <div class="col-xs-2 remove-container">
                <button data-id="\{{id}}" class="btn btn-default btn-sm remove">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </div>
    </li>
</script>
<!-- /Track list entry -->

<!-- Track Content Body -->
<script id="track-content-template" type="text/x-handlebars-template">
    <div class="row track clearfix" id="\{{id}}">
        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="heading">\{{description}}</h4> <span class="right-id">\{{id}}</span>
                </div>
                <div class="panel-body">
                    <img src="/img/loading.svg" class="center-img" width="30" alt="Loading" />

                    <div class="c-panasia"></div>
                    <div class="c-sky"></div>
                    <div class="c-correoses"></div>
                    <div class="c-correos"></div>
                    <div class="c-correos-old"></div>
                    <div class="c-expresso24"></div>
                    <div class="c-adicional"></div>
                    <div class="c-ctt"></div>
                    <div class="c-aligeneral"></div>
                    <div class="c-aligeneral2"></div>
                    <div class="c-aligeneral3"></div>
                    <div class="c-aligeneral4"></div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- /Track Content Body -->

{{> skyTemplate }}

{{> correosTemplate }}

{{> correosOldTemplate }}

{{> adicionalTemplate }}

{{> expresso24Template }}

{{> cttTemplate }}

{{> aliTemplate }}

{{> cainiaoEmpty }}

<!-- No data template -->
<script id="failed-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <strong>\{{provider}}:</strong>
            \{{{ error }}}
        </div>
    </div>
</script>
<!-- /No data template -->

{{#section 'script'}}
    <script src="js/gear.js?v=33"></script>
{{/section}}
