<div class="container">

    <div class="row" id="hide-info">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Siga as suas encomendas do Gearbest até Portugal</h2>
                <p>Este website ajuda-o a saber por onde andam as suas encomendas.</p>
                <strong>Métodos de envio suportados:</strong>
                <ul>
                    <li>Spain Priority Line (Spain Express)</li>
                    <li>Netherlands Post surface mail</li>
                </ul>
                <a class="btn btn-default btn-xs close-btn" id="hide-button" role="button">Esconder</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-info">
                <div class="panel-heading clearfix">Encomendas a seguir
                    <div class="btn-group pull-right">
                        <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#addTrack">Adicionar
                        </a>
                    </div>
                </div>
                <ul class="list-group track-entries" id="track-entries">
                    <li class="list-group-item" id="emptyList">
                        Nenhuma..
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8" id="content">
            <div class="row" id="info">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Informações das encomendas
                        </div>
                        <div class="panel-body">
                            <p>Adicione encomendas no painel esquerdo e aqui aparcerão as informações das encomendas!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer }}
</div>


<!-- Modal -->
<div class="modal fade" id="addTrack" tabindex="-1" role="dialog" aria-labelledby="addTrack">
    <div class="modal-dialog" role="document">
        <form id="controlForm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Seguir nova encomenda</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="shipping_id">Número da Encomenda: (Shippment number)</label>
                        <input type="text" class="form-control" required id="shipping_id"
                               placeholder="ID a começar por PQ, NL, LV.." >
                    </div>
                    <div class="form-group">
                        <label for="postal_code">Descrição</label>
                        <input type="text" class="form-control" id="description" required
                               placeholder="Para facil identificação, ex: Telemovel">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" id="send" class="btn btn-primary">Adicionar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /Modal -->

<!-- Track list entry -->
<script id="track-list-template" type="text/x-handlebars-template">
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <h4>\{{description}}</h4>
                <p>\{{id}}</p>
            </div>
            <div class="col-xs-2 remove-container">
                <button data-id="\{{id}}" class="btn btn-default btn-sm remove">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </div>
    </li>
</script>
<!-- /Track list entry -->

<!-- Track Content Body -->
<script id="track-content-template" type="text/x-handlebars-template">
    <div class="row track clearfix" id="\{{id}}">
        <div class="col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="heading">\{{description}}</h4> <span class="right-id">\{{id}}</span>
                </div>
                <div class="panel-body">
                    <img src="/img/loading.svg" class="center-img" width="30" alt="Loading" />
                </div>
            </div>
        </div>
    </div>
</script>
<!-- /Track Content Body -->

<!-- Sky template -->
<script id="sky-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="label label-primary">Informação Sky56:</span></h2>
            <h3><span class="label label-default">Mensagens:</span></h3>

            <table class="table table-striped table-condensed">
                <tr>
                    <th style="width: 30%">Data</th>
                    <th>Mensagem</th>
                </tr>
                \{{#each messages}}
                <tr>
                    <td>\{{ date }}</td>
                    <td>\{{ message }}</td>
                </tr>
                \{{/each}}
            </table>

            <h3><span class="label label-default">Estado:</span></h3>
            <table class="table table-striped table-condensed">
                <tr>
                    <th style="width: 30%">Data</th>
                    <th>Estado</th>
                </tr>
                \{{#each status}}
                <tr>
                    <td>\{{ date }}</td>
                    <td>\{{ status }}</td>
                </tr>
                \{{/each}}
            </table>
        </div>
    </div>
</script>
<!-- /Sky template -->

<!-- Sky template for NL -->
<script id="sky-template-nl" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="label label-primary">Informação Sky56 \{{ name }}:</span></h2>
            <h3><span class="label label-default">Estado:</span></h3>

            <table class="table table-striped table-condensed">
                <tr>
                    <th style="width: 30%">Data</th>
                    <th>Local</th>
                    <th>Estado</th>
                </tr>
                \{{#each status}}
                <tr>
                    <td>\{{ date }}</td>
                    <td>\{{ area }}</td>
                    <td>\{{ status }}</td>
                </tr>
                \{{/each}}
            </table>
        </div>
    </div>
</script>
<!-- /Sky template for NL -->

<!-- Correos template -->
<script id="correos-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="label label-danger">Informação Correos Express:</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <strong>Estado:</strong> \{{ state }}
        </div>
        <div class="col-xs-6 text-right">
            <strong>Ultima atualização:</strong> \{{ lastUpdate }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <strong>Recebido:</strong> \{{ received }}
                    </td>
                    <td>
                        <strong>Pacotes:</strong> \{{ product.parcels }} (\{{ product.weight }}kg)
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Empresa:</strong> \{{ sender.name }}
                    </td>
                    <td>
                        <strong>Destinatário:</strong> \{{ receiver.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Cidade:</strong> \{{ sender.city }}
                    </td>
                    <td>
                        <strong>Cidade Destino:</strong> \{{ receiver.city }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3><span class="label label-default">Estados:</span></h3>
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Data</th>
                    <th>Estado</th>
                    <th>Local</th>
                </tr>
                \{{#each states}}
                <tr>
                    <td>\{{ date }}</td>
                    <td>\{{ info }}</td>
                    <td>\{{ department }}</td>
                </tr>
                \{{/each}}
            </table>
        </div>
    </div>
</script>
<!-- /Correos template -->

<!-- Adicional template -->
<script id="adicional-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <h2><span class="label label-success">Informação Adicional PT:</span></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <strong>Estado:</strong> \{{ status }} <strong>Sub Estado:</strong> \{{ sub_status }}
        </div>
        <div class="col-xs-6 text-right">
            <strong>Ultima atualização:</strong> \{{ updated }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <strong>Tipo Serviço:</strong> \{{ service_type }}
                    </td>
                    <td>
                        <strong>Destinatário:</strong> \{{ name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Distribuidor:</strong> \{{ distributor }}
                    </td>
                    <td>
                        <strong>Telemovel:</strong> \{{ phone1 }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>
<!-- /Adicional template -->

<!-- No data template -->
<script id="failed-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-md-12">
            <strong>\{{name}}:</strong> Ainda não existem dados disponíveis.
        </div>
    </div>
</script>
<!-- /No data template -->